DB_SERVER=""
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

SECRET_KEY=""
ALGORITHM=""

ACCESS_TOKEN_EXPIRE_MINUTES=
BACKEND_CORS_ORIGINS=

AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""

ALLOWED_HOSTS=[""]
PROXY_TRUSTED_HOSTS=""
APP_PORT=

AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME=""
